# Arquivos de Log, Sistema e IDEs
*.log
logs/
.DS_Store
Thumbs.db
.idea/
.vscode/
*.iml

# Backups e Documentação
*.BAK
*.sql
[Desatualizado]*.docx

# Diretório de build do projeto 'api'
api/target/

# Arquivos temporários do Maven no projeto 'api'
api/pom.xml.tag
api/pom.xml.releaseBackup
api/pom.xml.versionsBackup
api/pom.xml.next
api/release.properties
api/dependency-reduced-pom.xml
api/build-*.log

# Arquivos de configuração de IDEs dentro de 'api'
api/.classpath
api/.project
api/.settings
api/.spring-boot-devtools.properties

# Arquivo de Configuração Sensível
api/src/main/resources/application.properties