# Arquivos de Build e Dependências
/target/
/pom.xml.tag
/pom.xml.releaseBackup
/pom.xml.versionsBackup
/pom.xml.next
/release.properties
/dependency-reduced-pom.xml
/build-*.log
/lib/
/dist/
/.classpath
/.project
/.settings
/.spring-boot-devtools.properties

# Arquivos de Configuração Sensíveis
src/main/resources/application.properties

# Logs
*.log
logs/

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db

# Arquivos de IDEs
.idea/
*.iml
*.ipr
*.iws
/out/
/nbproject/
/nbbuild/
/nbdist/
/.nb-gradle/