body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #f8f9fa;
}

.image-section {
    background-image: url('../images/background-login.jpg');
    background-size: cover;
    background-position: center;
}

.form-container {
    width: 100%;
    max-width: 380px;
    padding: 15px;
}